 /* SPACE BACKGROUND */

 .container {
   background-image: url(images/bg2.jpg);
   background-position: center;
   margin: 0 auto;
   width: 900px;
   height: 600px;
 }

 /* GAME GRID */

 .grid {}

 .row {
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 30px;
   /*border: 0.02px solid grey;*/
   margin: 0px;
 }

 .cell {
   height: 25px;
   width: 25px;
   /*border: 0.02px solid white;*/
   margin: 0px;
 }

 /* GRID CHARACTERS */

 .invader {
   background-image: url(characters/invader2.png);
   background-position: center;
   background-size: cover;
 }

 .space {
   background-color: none;
 }

 .mothership {
   background: url(characters/fighter1.png) center center no-repeat;
   overflow: hidden;
   background-position: center;
   background-size: cover;
   padding: 17px;
   margin: -17px;
 }

 .shield {
   border-top: 0.5px solid rgb(81, 245, 87);
 }

 .laser:before {
   content: "";
   display: block;
   width: 100%;
   height: 100%;
   background-image: url(images/bulletorange.png);
   background-position: center;
   background-size: cover;
 }

 .explosion {
   background-image: url(images/explosion3.png);
   background-position: center;
   background-size: cover;
 }

 /*

SECTION FOR START SCREEN

*/

 /*FLEXBOX DESIGN*/

 /*
 .title {
   display: flex;
   padding: 15%;
   background-image: url(images/logo.png);
   background-size: cover;
   background-position: center;
   height: 18%;
 }

 .start {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5%;
 }

 .footer {
   display: flex;
 }*/

 /*TEXTS COLOURS AND FONTS*/

 /*
 button {
   color: black;
   background-color: lightgrey;
   transition: background-color .3s;
   transition: padding .3s;
   font-size: 20px;
   padding: 10px;
   border: 5px;
   border-radius: 5px;
 }

 button:hover {
   background-color: rgb(247, 217, 61);
   padding: 15px;
 }

 footer {
   color: grey;
 }*/
